<!--start sign in form -->
<div class="">
	<form class="">
		<div class="">
			<div class="">
				<div class="">
					<input ng-model="user.email" type="text" class="" id="email">
					<label for="Username">email</label>
				</div>
				<div class="">
					<input ng-model="user.password" type="password" class="" id="password">
					<label for="Password">password</label>
				</div>
				<div class="">
					<label>
						<input type="checkbox" value="">
						<span>Remember me</span>
					</label>
				</div>
				<button ng-click="signin()" type="submit" class="">sign in</button>
			</div>
		</div>
	</form>
</div>
<!--end sign in form -->
