<!--start gate of login-->
<div id="">
	<div class="container">
		<div class="">
			<!--start  tooltips above login form -->
			<div
				ng-class="{ 'alert': flash, 
               'alert-success': flash.type === 'success', 
               'alert-danger': flash.type === 'error' }"
				ng-if="flash" ng-bind="flash.message"></div>
			<!--end tooltips above login form -->

			<!--start login container -->
			<div>
				<h2>Login</h2>
				<div ng-show="error" class="alert alert-danger">{{error}}</div>
				<form name="" ng-submit="signIn()">
					<div
						ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
						<label for="email">email</label> <input type="text" name="email"
							id="email" ng-model="user.email" required /> <span
							ng-show="form.email.$dirty && form.email.$error.required">email
							is required</span>
					</div>
					<div
						ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
						<label for="password">Password</label> <input type="password"
							name="password" id="password" class="form-control"
							ng-model="user.password" required /> <span
							ng-show="form.password.$dirty && form.password.$error.required">Password
							is required</span>
					</div>

					<!-- how come?
				<div class="">
					<label>
						<input type="checkbox" value="">
						<span>Remember me</span>
					</label>
				</div>	 -->

					<div class="btnAction">
						<button type="submit" ng-disabled="form.$invalid || dataLoading">Sign
							in</button>
						<!--image of loading 
						image is the base 64 encoded string of data
						<img src="/-/data:image/gif;base64,<DATA>"> 
						<DATA> get by this site >> this http://software.hixie.ch/utilities/cgi/data/data
						reference to http://stackoverflow.com/questions/18460684/how-to-read-a-binary-data-in-angularjs
						-->
						<img ng-if="vm.dataLoading"
							src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
						<a href="#">signUp</a>
					</div>
				</form>
			</div>
			<!--end login container -->
		</div>
	</div>
</div>




<!--end gate of login-->
<!--start sign in form -->
<!-- 회원가입
<div class="">
	<form class="">
		<div class="">
			<div class="">
				<div class="">
					<input ng-model="user.email" type="text" class="" id="email">
					<label for="Username">email</label>

				</div>
				<div class="">
					<input ng-model="user.password" type="password" class=""
						id="password"> <label for="Password">password</label>
				</div>

				<button ng-click="signup()" type="submit" class="">sign up</button>
			</div>
			end .card-body
		</div>
	</form>
</div>
<br />
<br />


로그인
<div class="">
	<form class="">
		<div class="">
			<div class="">
				<div class="">
					<input ng-model="user.email" type="text" class="" id="email">
					<label for="Username">email</label>
				</div>
				<div class="">
					<input ng-model="user.password" type="password" class=""
						id="password"> <label for="Password">password</label>
				</div>
				<div class="">
					<label> <input type="checkbox" value=""> <span>Remember
							me</span>
					</label>
				</div>
				<button ng-click="signin()" type="submit" class="">sign in</button>
			</div>
		</div>
	</form>
</div>

<br />
<br />



로그아웃
<br />
<li>{{user.email}}</li>
<button ng-click="signout(user.email)" type="button" class="">sign
	out</button>


<br />
<br />
현재상태 -->
<!--end sign in form -->
