<link rel="stylesheet" href="<%- cssDir %>/building.css" />

<div>
    <div>
        <label>uid : </label>
        <input ng-model="data.uid" type="text">
    </div>
    <div>
        <input ng-click="default()" type="button" value="빌딩소환!!">
    </div>
</div>

<div>
    <div>
        <label>uid : </label>
        <input ng-model="addData.uid" type="text">
    </div>
    <div>
        <label>name : </label>
        <input ng-model="addData.name" type="text">
    </div>
    <div>
        <label>shared : </label>
        <input ng-model="addData.shared" type="text">
    </div>
    <div>
        <input ng-click="add()" type="button" value="빌딩입력!!">
    </div>
</div> 
<ul class="buildingArea">
    <li ng-repeat="Building in Buildings" class="ani" ng-class="{buildingBox : true, hide : Building.hide, delete : Building.delete}">
        pid : {{Building.pid}}
        <br> uid : {{Building.uid}}
        <br> name : {{Building.name}}
        <br> shared : {{Building.shared}}
        <br>
        <input ng-click="del(Building.pid, $event)" type="button" value="삭제">
    </li>
</ul>
