<!--start sign in form -->


회원가입
<div class="">
	<form class="">
		<div class="">
			<div class="">
				<div class="">
					<input ng-model="user.email" type="text" class="" id="email">
					<label for="Username">email</label>
	
				</div>
				<div class="">
					<input ng-model="user.password" type="password" class="" id="password">
					<label for="Password">password</label>
				</div>

				<button ng-click="signup()" type="submit" class="">sign up</button>
			</div>
			<!--end .card-body -->
		</div>
	</form>
</div>
<br/><br/>


로그인
<div class="">
	<form class="">
		<div class="">
			<div class="">
				<div class="">
					<input ng-model="user.email" type="text" class="" id="email">
					<label for="Username">email</label>
				</div>
				<div class="">
					<input ng-model="user.password" type="password" class="" id="password">
					<label for="Password">password</label>
				</div>
				<div class="">
					<label>
						<input type="checkbox" value="">
						<span>Remember me</span>
					</label>
				</div>
				<button ng-click="signin()" type="submit" class="">sign in</button>
			</div>
		</div>
	</form>
</div>

<br/><br/>



로그아웃
<br/>
<button type="button" class="">sign out</button>


<br/><br/>
현재상태
<!--end sign in form -->
